Server.Endpoints = tcp -h localhost -p 12346
BodegaService.Endpoints = tcp -h localhost -p 12346

Ice.Default.Locator = ServidorCentral/default -h localhost -p 12345

# Configuración de base de datos
ConexionBD = jdbc:postgresql://localhost:5430/coffeemachine
usuarioBD = cofmachu
paswordBD = cofmachpwd
